.ml {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.mr {
  margin-right: 10px;
}
.mt {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mb {
  margin-bottom: 10px;
}
.redColor {
  color:#D75D73;
}
.noSpacing {
  margin: 0;
  padding: 0;
}
